p {
	font-family: Arial, Helvetica, sans-serif;
}

.bookShelf {
	display: flex;
	gap: 1rem;
}

.bookShelf > div {
	border: 1px black dotted;
	color: green;
	padding: 2rem;
	text-align: center;
}

.bookInputForm {
	background-color: cornflowerblue;
	width: 18rem;
	height: 15rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	visibility: hidden;
}

.bookForm > div > input {
	border: none;
	display: block;
	margin-bottom: 0.5rem;
	border: 1px gray solid;
}

.bookForm {
	background-color: brown;
	display: flex;
	width: 18rem;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
